button {
  background-color: green;
  color: white;
  font-weight: 400;
  padding: 10px;
  border-radius: 8px;
  border: 3px solid rgb(119, 99, 73);

  &:disabled {
    opacity: 0.3;
    background-color: red;
  }
}